.classpath
.project
.settings/
.metadata/
.recommenders/
**/.idea
RemoteSystemsTempFiles/
**/target/
bob
bin/
*~
*.swp
*.iml
*.DS_Store
*.air
*.swf

# CMake
cmake-build-debug/
cmake-build-release/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Eclipse
**/.settings
**/.classpath
**/.project
